{% extends 'core/base.html' %}


{% block contenido %}

<center>

<strong><h2><spann style="color:#a10d21;"> Registrar Automovil </h2></strong>


<form action="" id="formularioAutomovil" method="POST">
           
           {%  csrf_token %}
           
           <br>
           <label for="">Patente</label>
           <input type="text" name="txtPatente" id="txtPatente">
           </br>
           <br>
           <label for="">Marca</label>

           <select name="cboMarca" id="cboMarca">
               <option value="">Seleccionar</option>
               
               {% for m in marcas %}

               <option value="{{ m.id }}"> {{ m.Nombre }} </option>

               {% endfor %}

           </select>
           </br>
           <br>
           <label for="">Modelo</label>
           <input type="text" name="txtModelo" id="txtModelo">
           </br>
           <br>
           <br>
           <label for="">Año</label>
           <input type="number" name="txtAnio" id="txtAnio">
           </br>
          
         <br><input type="submit" name="btnAnio" id="btnAnio" value="Guardar"></br<
       </form>


       <h3>{{ mensaje }}</h3>
       
  </center>
{% endblock contenido %}