{% extends 'core/base.html' %}


{% block contenido %}
            El automóvil tiene su origen a finales del siglo XIX, cuando en el año 1885, 
            el inventor alemán Carl Benz patentó su Benz Patent-Motorwagen. 
            Sin embargo, estos vehículos estuvieron ampliamente disponibles durante el transcurso el siglo XX y las economías desarrolladas se volvieron dependientes de ello.
            Al final del siglo XX, los automóviles fueron adquiriendo varias funciones a favor de la comodidad y seguridad de los pasajeros, como el airbag, alarma antirrobo, 
            aire acondicionado, elevalunas eléctricos, GPS, cámara y los sensores de estacionamiento, sistema de entretenimiento como el autorradio táctil, entre otros. 
{% endblock contenido  %}
